.dashboard-page {
    padding: 0 50px;

    .header {
        margin-bottom: 50px;

        .nav {
            width: 50%;

            .nav-item {
                background: none;

                .nav-link {
                    color: white;
                }

                .nav-link.active {
                    color: white;
                    background: none;
                    border: 1px solid $spotifyGreen;
                }
            }
        }

        .profile {
            width: 50%;

            .username {
                float: right;
                line-height: 50px;
                margin-right: 20px;
            }

            .avatar {
                float: right;
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        .info-link {
            color: $spotifyGreen;
            text-decoration: none;
        }

        .spotify-button {
            width: 150px;
            position: fixed;
            bottom: 15px;
            left: 15px;
        }
    }

    .content {

        .card-columns {

            .card {
                border: none;
                border-radius: 7px;
                margin-bottom: 1rem;

                .card-body {
                    background: $bg-light;
                    text-align: left;

                    .card-title {
                        font-size: 14px;
                        font-weight: bold;
                    }

                    .card-text {
                        font-size: 12px;
                    }
                }
            }

            .stats-card {
                background: $bg-light;

                .stat-heading {
                    font-size: 80px;
                }

                .card-body {
                    padding-top: 0;
                    background: none;
                }
            }

            .playlist-card {

                .card-title {
                    text-decoration: none;
                    color: $spotifyGreen;
                }
            }
        }

        @media (min-width: 576px) {
            .card-columns {
                column-count: 2;
            }
        }

        @media (min-width: 768px) {
            .card-columns {
                column-count: 4;
            }
        }

        @media (min-width: 992px) {
            .card-columns {
                column-count: 5;
            }
        }

        @media (min-width: 1200px) {
            .card-columns {
                column-count: 6;
            }
        }
    }
}
