.dashboard-page {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    padding: 0 0 50px 0;

    .content {
        height: 100%;
        padding: 0 50px;
        min-height: 100vh;
        margin-left: 400px;
        width: calc(100% - 400px);

        .dashboard-top-bar {
            width: 100%;
            margin: 70px 0 40px;

            .nav {
                width: 100%;

                .nav-item {
                    font-weight: bold;
                    background: none;
                    font-size: 0.8rem;

                    .nav-link {
                        color: white !important;
                    }

                    .nav-link.active {
                        color: black !important;
                        font-weight: bold;
                        background: $spotify-green;
                    }
                }
            }
        }

        .playlists-container {
            width: 100%;
        }
    }
}
