.heim-page {
    margin-top: 5%;

    .row {
        margin: 0 20%;

        .opus-1-col {

            .title {
                font-size: 25px;
                font-weight: 100;
                margin: 4% 0 0;
                letter-spacing: -2px;
            }

            .description {
                font-size: .7rem;
                font-weight: 500;
                padding: 3% 40% 0;
                text-align: justify;
            }

            .opus-1-logo {
                height: 350px;
                transform: translatey(0px);
                animation: float 3its ease-in-out infinite;
            }
        }
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}
