.heim-page {
    margin-top: 5%;

    .row {
        margin: 0 20%;

        .opus-1-col {

            .title {
                font-size: 25px;
                font-weight: 100;
                margin: 6% 0 0;
                letter-spacing: -2px;
            }

            .description {
                font-size: .7rem;
                font-weight: 500;
                padding: 3% 30% 0;
                text-align: justify;
            }

            .opus-1-logo {
                height: 250px;
            }
        }
    }
}
