.logo {
    height: 250px;
}

.title {
    font-weight: 100;
    margin: 30px 0 0;
}

.description {
    padding: 0 35%;
    text-align: justify;
}

.spotify-login-button {
    display: inline-block;
    line-height: 50px;
    text-decoration: none;
    width: 300px;
    color: white;
    font-size: 15px;
    font-weight: 800;
    background-color: #1DD760;
    border-radius: 500px;
    border: none;
    margin: 30px 0;
}
