html {
    .top-border {
        top:0;
        height: 3px;
        width: 100%;
        z-index:100;
        position:fixed;
        background: $spotify-green;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    body {
        background-color: $bg;
        color: white;

        #app {
            // font-family: 'Lato', Helvetica, Arial, sans-serif;
            font-family: 'Montserrat', Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;

            .spotify-button {
                width: 170px;
                color: black;
                border: none;
                margin-top: 3%;
                font-size: .7rem;
                font-weight: 600;
                line-height: 35px;
                border-radius: 500px;
                display: inline-block;
                text-decoration: none;
                background-color: $spotify-button-light;

                &:hover {
                    background: $spotify-button-dark;
                }
            }

            a {
                color: $spotify-green;
            }
        }
    }
}
